*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  background-image:url(../img/459-background.png);
  position: center;
  background-size: cover;
  position: relative;
}
.login{
  width: 100%;
  height: 100vh;
  background-color: rgba(0 ,0 , 50 ,0.8);
}
.form_box{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 50px 60px 70px;
  text-align: center;
}
.form_box h1{
  font-size: 30px;
  margin-bottom: 60px;
  color: #3c00a0;
  position: relative;
}
.form_box h1::after{
  content: " ";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #3c00a0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translatex(-50%);
}
.input_field{
  background-color: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}
input{
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px ;
}
.input_field i{
  margin-left: 15px;
  color: #999;
}
form p{
  text-align: left;
  font-size: 13px;
}
form p a{
  text-decoration: none;
  color: #3c00a0;
}
.btn_field{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn_field button{
  flex-basis: 48%;
  background-color: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.input_group{
  height: 240px;
}
.btn_field button.disable{
  background-color: #eaeaea;
  color: #555;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 1000;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
.progress.active:before {
  animation: progress 5s linear forwards;
}